<a href="https://colab.research.google.com/github/LeeJeJun04/code_3rd/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택 , 다방향의 선택

In [11]:
print("배송료를 계산합니다.")
print("#" * 30)
price = int(input("구입금액 입력:"))
if price >= 100000:
  shipping_cost = 0
else:
  if price >= 20000:
    shipping_cost = 3000
  else:
    shipping_cost = 5000
print(f'배송료는{shipping_cost}입니다.')

배송료를 계산합니다.
##############################
구입금액 입력:15000
배송료는5000입니다.

2. 환영합니다. 5번 출력 , 10번 출력 ,30번 출력

In [4]:
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [28]:
count = 1
while count <= 5:
   #print("(", count.")","환영합니다.")
   print(F'({count})',"환영합니다")
   count = count + 1
   #count += 1

(1) 환영합니다
(2) 환영합니다
(3) 환영합니다
(4) 환영합니다
(5) 환영합니다

3. 0부터 9까지 출력하기
변수 X

In [32]:
 x = 0
 while x <10 :
  print(x, end=' ')
  x += 1

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [44]:
x = 1
total = 0
while x <= 10:
  total = total + x
  x += 1
print(total)

55

In [45]:
x = 1
while x <= 10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9
10

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력해주는 **코드작성**

 i = 0                        #변수 I는 0으로 선언
 while i <= 30:                # 반복문 while사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:             # 만약 i값을 3으로 나눈 나머지가 0이면
    print("박수", end='')    # 박수를 출력하고 공백을 하나 만듦
  else:                      #위의 것이 아니라
    print(i, end=' ')           #i값만 출력하고 공백 하나 만듦
  i += 1                     #변수 i값에 i와 1를 더해서 다시 변수 i에 선언

In [48]:
for num in range(1,):       #1부터 11까지의 숫자를 반복
  if num % 3 == 0:            #숫자(num)을 3으로 나눈 나머지가 0인 경우
    print("박수", end=' ')    #박수를 출력하고 공백을 만듦
  else:                     #그게 아니면
    print(num, end=' ')     #숫자만 출력하고 공백 만듦

박수

6. 팩토리얼 예상하는 코드 작성

In [57]:
i = 3
factorial = 2
while i <= 10:
  factorial = factorial * i
  i += 1
  print(factorial)

6
24
120
720
5040
40320
362880
3628800

In [56]:
num = int(input("팩토리얼 값 입력."))
factorial = 1
while num >= 1:
  factorial = factorial * num
  num -= 1
print("계산된 팩토리얼 값은 :", factorial)

팩토리얼 값 입력.4
계산된 팩토리얼 값은 : 24