<a href="https://colab.research.google.com/github/LeeJeJun04/code_3rd/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택 , 다방향의 선택

In [ ]:
print("배송료를 계산합니다.")
print("#" * 30)

price = int(input("구입금액 입력: "))  # 사용자로부터 구입 금액을 정수형으로 입력받아 price 변수에 할당합니다.

if price >= 100000:  # 만약 구입 금액이 100,000 이상이면 배송료를 0으로 설정합니다.
    shipping_cost = 0
else:
    if price >= 20000:  # 만약 구입 금액이 20,000 이상이면 배송료를 3,000으로 설정합니다.
        shipping_cost = 3000
    else:  # 그 외의 경우에는 배송료를 5,000으로 설정합니다.
        shipping_cost = 5000

print(f'배송료는 {shipping_cost}입니다.')  # 배송료를 출력합니다.

배송료를 계산합니다.
##############################
구입금액 입력:15000
배송료는5000입니다.

2. 환영합니다. 5번 출력 , 10번 출력 ,30번 출력

In [ ]:
print("환영합니다")  #"환영합니다"라는 메시지를 5번 출력
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [ ]:
count = 1  # count 변수를 1로 초기화합니다.

while count <= 5:  # count가 5 이하인 동안 반복합니다.
    # print("(", count, ")", "환영합니다.")  # count와 "환영합니다."를 함께 출력합니다.
    print(f'({count})', "환영합니다")  # f-string을 사용하여 count와 "환영합니다."를 함께 출력합니다.
    count = count + 1  # count 값을 1 증가시킵니다.
    # count += 1  # count 값을 1 증가시킵니다.

(1) 환영합니다
(2) 환영합니다
(3) 환영합니다
(4) 환영합니다
(5) 환영합니다

3. 0부터 9까지 출력하기
변수 X

In [ ]:
x = 0  # x 변수를 0으로 초기화합니다.

while x < 10:  # x가 10보다 작은 동안 반복합니다.
    print(x, end=' ')  # x를 출력하고 공백으로 구분합니다.
    x += 1  # x 값을 1 증가시킵니다.

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [ ]:
x = 1  # x 변수를 1로 초기화합니다.
total = 0  # total 변수를 0으로 초기화합니다.

while x <= 10:  # x가 10 이하인 동안 반복합니다.
    total = total + x  # total에 x 값을 더합니다.
    x += 1  # x 값을 1 증가시킵니다.

print(total)  # total 값을 출력합니다.

55

In [ ]:
x = 1  # x 변수를 1로 초기화합니다.

while x <= 10:  # x가 10 이하인 동안 반복합니다.
    print(x)  # x 값을 출력합니다.
    x += 1  # x 값을 1 증가시킵니다.

1
2
3
4
5
6
7
8
9
10

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력해주는 **코드작성**

 i = 0                        #변수 I는 0으로 선언
 while i <= 30:                # 반복문 while사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:             # 만약 i값을 3으로 나눈 나머지가 0이면
    print("박수", end='')    # 박수를 출력하고 공백을 하나 만듦
  else:                      #위의 것이 아니라
    print(i, end=' ')           #i값만 출력하고 공백 하나 만듦
  i += 1                     #변수 i값에 i와 1를 더해서 다시 변수 i에 선언

In [ ]:
for num in range(1,):       #1부터 11까지의 숫자를 반복
  if num % 3 == 0:            #숫자(num)을 3으로 나눈 나머지가 0인 경우
    print("박수", end=' ')    #박수를 출력하고 공백을 만듦
  else:                     #그게 아니면
    print(num, end=' ')     #숫자만 출력하고 공백 만듦

박수

6. 팩토리얼 예상하는 코드 작성

In [ ]:
i = 3  # i 변수를 3으로 초기화합니다.
factorial = 2  # factorial 변수를 2로 초기화합니다.

while i <= 10:  # i가 10 이하인 동안 반복합니다.
    factorial = factorial * i  # factorial에 i 값을 곱합니다.
    i += 1  # i 값을 1 증가시킵니다.
    print(factorial)  # factorial 값을 출력합니다.

6
24
120
720
5040
40320
362880
3628800

In [ ]:
num = int(input("팩토리얼 값 입력: "))  # 사용자로부터 정수 값을 입력받아 num 변수에 저장합니다.
factorial = 1  # factorial 변수를 1로 초기화합니다.

while num >= 1:  # num이 1 이상인 동안 반복합니다.
    factorial = factorial * num  # factorial에 num 값을 곱합니다.
    num -= 1  # num 값을 1 감소시킵니다.

print("계산된 팩토리얼 값은:", factorial)  # 계산된 팩토리얼 값을 출력합니다.

팩토리얼 값 입력.4
계산된 팩토리얼 값은 : 24